{% extends "base.html" %}

{% block content %}

{% if movie.cover %}
    <p> <img src="{{ movie.cover.url}}" width="300" height=auto></p>
{% endif %}

<p>Name: {{movie.title}}</p>
<p>Genre: {{movie.genre.name|default:"-"}}</p>
<p>Description: {{movie.description}}</p>
<p>Languages: {% for lang in movie.languages.all %} {{lang.name}} {% endfor %}</p>

{% if movie.trailer_link %}
<p>Trailer:</p>
<iframe src="{{movie.trailer_link}}"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
{% endif %}
<hr>

{% if perms.viewer.change_movie %}
    <p>Click <a href="{% url 'update_movie' movie.id %}">here</a> to update this movie</p>
{% endif %}

{% if perms.viewer.delete_movie %}
    <p>Click <a href="{% url 'delete_movie' movie.id %}">here</a> to delete this movie</p>
{% endif %}

{% endblock %}