{% extends "base.html" %}

{% block content %}

{% if perms.viewer.add_movie %}
  Click <a href="{% url 'create_movie' %}">here</a> to create a new movie
{% endif %}


<h2>These are the movies we have:</h2>

<ul>
  {% for movie in movies %}
  <li>Name: <a href="{% url 'detail_movie' movie.id %}"> {{movie.title}}</a> genre: {{movie.genre.name|default:"No Genre"}}</li>
    {% if movie.genre.name == 'Horror' %}
      Carefull!! This is terrifying!
    {% endif %}
  {% endfor %}
</ul>


Click <a href="{% url 'total' %}">here</a> to see the total

{% endblock %}